.gradle/
.idea/
.kotlin/
local.properties
build/
app/build/
app/.cxx/
app/.native-build/
app/release/
captures/
*.iml
*.log
*.apk
*.aab
*.keystore
*.jks
*.p12
*.pem
*.key
release-assets/
/.gradle-tmp/
